<% if comment.id %>
  <%= div_for comment do %>
    <h4>
      <%= comment.user.first_name %> <%= comment.user.last_name %> 
      <% if is_repondent(comment.id) %>
        <small>
          <%= link_to 'delete', post_comment_path(@post, comment), class: "label label-danger", method: :delete, remote: true %> 
        </small>
      <% end %>      
    </h4>   
    <%= comment.response %>   
  <% end %>
<% end %>
