<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-5" style="margin-bottom: -100px"><h1>My Works</h1></div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <h2 class="section-heading">Living Smart</h2>
        <p class="lead">Combining the concept of IoT with NFC and FPM. This android app can be linked with your intelligent appliances and make smart suggestions. Also, marketers can know their customers by using our web app.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'living-smart.png', class: "img-responsive", size: "300" %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <h2 class="section-heading">Rails Freshman</h2>
        <p class="lead">Sharing useful links with others makes learning ruby on rails easier.
        You can share gems, news, discusions or tutorials.<br>
        Let's learn together!</p>
        <a href="https://github.com/tonyhsu23/rails-freshman">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'freshman.png', class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <h2 class="section-heading">Invitation</h2>
        <p class="lead">A invitation letter to our professors. It collects the number of attendee. Also, It shows the location and contacts.</p>
        <a href="http://fjuim-invitation.herokuapp.com">
          <span class="fa-stack fa-lg"> 
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://github.com/tonyhsu23/invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'invitation.png', class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <h2 class="section-heading">Todo List</h2>
        <p class="lead">Personal todo list built with AngularJS.</p>
        <a href="http://tonytodolist.herokuapp.com">
          <span class="fa-stack fa-lg"> 
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-link fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://github.com/tonyhsu23/Todo-List">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'todo.png', class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>
