<%= render 'layouts/header' %>
<div class="container">
  <div class="row">   
    <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
      <% if @posts.count == 0 %>
        no posts
      <% else %>
        <% @posts.each do |post| %>
          <div class="post-preview">
            <a href="<%= post_path(post) %>">
              <h2 class="post-title">
                <%= post.title %>
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a><%= post.user.first_name %> <%= post.user.last_name %></a>
              on <%= post.created_at.strftime('%B %d , %Y') %>
            </p>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 col-md-4">
      <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@tonyhsu23">Tony Hsu</a>
    </div>
  </div>
</div>