<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% if @posts.count == 0 %>
        no posts
      <% else %>
        <% @posts.each do |post| %>
          <div class="post-preview">
            <a href="<%= post_path(post) %>">
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= truncate(post.content, length: 50) %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a><%= post.user.first_name %> <%= post.user.last_name %></a>
              on <%= post.created_at.strftime('%B %d , %Y') %>
            </p>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


