<%= render 'posts/header' %>
<div class="container">
  <%= form_for @post do |f| %>
    <div class="form-inline">   
      <div class="form-group">
        <%= f.text_field :title, placeholder: "title",size: "50", class: "form-control" %>
      </div>   
    </div>
    <br>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "content",rows: "20", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Post It!", class: "btn btn-primary" %>
      <%= link_to "Cancel", posts_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>