<div>
  <p>
    <%= @post.title %> by
    <%= @post.author %> <br>
    <%= @post.content %>
  </p>
</div>

<div>
  <h3>comment</h3>
  <div>
    <div class="comments">
      <% @comments.each_with_index do |comment, index| %>
        <%= render comment %> 
      <% end %>
    </div> 
  </div>

  <%= form_for([@post, @comment], remote: true) do |f| %>
    name <%= f.text_field :respondent %> 
    content <%= f.text_area :response %>
    <%= f.submit "submit" %>
  <% end %>
</div>  

<div>
  <%= link_to 'Back', root_path %>
</div>