<div>
  <p>
    <%= @post.title %> by
    <%= @post.author %> <br>
    <%= @post.content %>
  </p>
</div>

<div>
  <h3>comment</h3>
  <div>
  <% comment_size = @comments.count %>
    <% if @comments.count == 0 %>
      no comments
    <% else %>
      <div class="comments">
        <% @comments.each_with_index do |comment, index| %>
          <%= render comment %> 
          <% break if index+1 == comment_size %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_for([@post, @comment],remote: true) do |f| %>
    name <%= f.text_field :respondent %> 
    content <%= f.text_area :response %>
    <%= f.submit "submit" %>
  <% end %>
</div>  

<div>
  <%= link_to 'Back', root_path %>
</div>