<div class="container">
  <h1>
    <%= @post.title %>
    <small>by <%= @post.user.first_name %> <%= @post.user.last_name %></small>
    <small>
      <% if is_author(@post.id) %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" , }, class: "label label-danger" %>
      <% end %>
    </small>
  </h1>
  <p class="lead jumbotron">
    <%= @post.content %>
  </p>

  <hr>

  <h4>Comment</h4>
  <% if is_login %>
    <%= form_for([@post, @comment], remote: true) do |f| %>
      <div class="form-group">
        <%= f.text_area :response, placeholder: "comment", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %> 

  <div class="list-group list-group-item">
    <div class="comments">
      <% @comments.each do |comment| %>
        <%= render comment %> 
      <% end %>
    </div> 
  </div>
</div>
